@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


:root {
    --color-primary: rgba(98, 60, 234, 1);
    --color-primary-50: rgba(49, 30, 117, 1);
    --color-Secondary: rgba(80, 207, 154, 1);

    --color-tertiary: rgba(255, 87, 127, 1);
    --color-tertiary-50: rgba(49, 30, 117, 1);
    --color-quaternary: rgba(80, 108, 207, 1);

    --social-facebook: rgba(80, 108, 207, 1);
    --social-instagram: rgba(207, 80, 172, 1);
    --social-linkdin: rgba(14, 118, 168, 1);


    --gray-1: rgba(248, 249, 250, 1);
    --gray-2: rgba(233, 236, 239, 1);
    --gray-3: rgba(134, 142, 150, 1);
    --gray-4: rgba(33, 37, 41, 1);

    --font-principal: "Inter", sans-serif;


    --title-1-weigth: bold;
    --title-1-size: 28px;
  

    --title-2-weigth: bold;
    --title-2-size: 24px;


    --title-3-weigth: bold;
    --title-3-size: 20px;

    --title-4-weigth:bold;
    --title-4-size:16px
   
}

body{
    font-family: var(--font-principal);
  
    margin: auto;
    background-color: black;
 
}