@import url("/src/styles/globalStyles.css");


.footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 20px 80px;
    gap: 20px;
}

.footerContent {
    margin-left: 0;
}

.footerLogo {
    border-radius: 50%;
   
}

.footerTitle {
    color: var(--gray-1);
}

.footerText {
    color: var(--gray-3);
}

.socialLinks {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.socialItem {
    list-style: none;
    margin-right: 8px;
}

#facebookBottom {
    background-color: rgba(80, 108, 207, 1);
    width: 48px;
    height: 48px;
}

#instagramBottom {
    background-color: rgba(207, 80, 172, 1);
    width: 48px;
    height: 48px;
}
#linkdinBottom{
    background-color: rgba(14, 118, 168, 1);
    width: 48px;
    height: 48px;
}

.socialButton {
    border: none;
    border-radius: 50%;
}